* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(orange, red, black);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.cricle {
  width: 170px;
  height: 170px;
  background-color: yellow;
  border-radius: 50%;
  animation-name: move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  position: absolute;
  bottom: -200px;
}
@keyframes move {
  0% {
    bottom: -170px;
    opacity: 0.3;
  }
  100% {
    bottom: 400px;
    box-shadow: 0px 0px 20px 10px yellow;
    opacity: 1;
  }
}
